#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  margin: 0 auto;
  padding: 5px;
  max-width: 600px;
}

.product {
  align-items: center;
  margin-bottom: 20px;
  padding: 2px 4px;
  border-radius: 5px;
}

.product-image {
  width: 15%;
}

.product-price {
  font-weight: bold;
}

.product-button {
  padding: 5px 20px;
  background-color: rgb(37, 132, 176);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.active {
  background-color: rgb(189, 189, 31);
}

.modal {
  position: fixed;
  background-color: rgb(172, 168, 168);
  opacity: 0.5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-window {
  position: absolute;
  top: 100px;
  left: 50%;
  translate: -50%;
  width: 400px;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
}

.create-input {
  margin-bottom: 2px;
  padding: 2px 4px;
  width: 90%;
  border: none;
  outline: none;
}

.create-button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: rgb(219, 219, 9);
}

.create-button:hover {
  color: white;
}